[tool.mypy]
strict = true
show_error_codes = true


[tool.ruff]
line-length = 88

[tool.ruff.format]
# Currently strings not shown to the user are quoted with single quotation marks.
quote-style = "preserve"

[tool.ruff.lint]
select = [
    "A", "ANN", "ARG", "ASYNC", "B", "BLE", "C4", "C90", "CPY", "D", "DTZ", "E", "EM",
    "ERA", "F", "FBT", "FIX", "FLY", "FURB", "G", "I", "ICN", "INP", "ISC", "LOG", "N",
    "PERF", "PGH", "PIE", "PL", "PT", "PTH", "PYI", "RET", "RSE", "RUF", "S", "SIM",
    "SLF", "SLOT", "T10", "T20", "TID", "TD", "TRY", "UP", "W", "YTT",
    "Q004",   # Unnecessary escape on inner quote character
    "COM818"  # Trailing comma on bare tuple prohibited
]
ignore = [
    "D105",  # Missing docstring in magic method
    "D107",  # Missing docstring in __init__  # Will write in class docstring
    "D212",  # Multi-line docstring summary should start at the first line
    "EM101",  # Exception must not use a string literal, assign to variable first
    "S101",  # Use of assert detected
    "RET504",  # Unnecessary assignment to `target` before `return` statement  # Using as comment
    "TID252",  # Relative imports from parent modules are banned

    # Not for pyqoolloop
    "AIR",  # Airflow
    "DJ",  # flake8-django
    "EXE",  # flake8-executable
    "FA",  # flake8-future-annotations
    "INT",  # flake8-gettext
    "NPY",  # NumPy-specific rules
    "PD",  # pandas-vet

    # Handled by mypy
    "TCH",

    # Not now
    "TD002",  # Missing author in TODO
    "TD003",  # Missing issue link on the line following this TODO
    "TRY003",  # Avoid specifying long messages outside the exception class
]

[tool.ruff.lint.extend-per-file-ignores]
"test_*.py" = [
    "N802",  # Function name {name} should be lowercase
    "PLR2004",  # Magic value used in comparison
]
"decorators.py" = [
    # Currently commenting out type hints, which mypy can't seem to handle
    "ERA001",  # Found commented-out code
]
"genericdecorator.py" = [
    # Currently commenting out type hints, which mypy can't seem to handle
    "ERA001",  # Found commented-out code
]

[tool.ruff.lint.flake8-annotations]
allow-star-arg-any = true

[tool.ruff.lint.flake8-pytest-style]
parametrize-names-type = "csv"
parametrize-values-row-type = "tuple"
mark-parentheses = false

[tool.ruff.lint.pydocstyle]
convention = "pep257"

[tool.ruff.lint.isort]
force-sort-within-sections = true

[tool.pytest.ini_options]
addopts = "--mypy --ruff --ruff-format --doctest-modules --cov --strict-markers --ignore=docs/"
markers = [
    "unreliable: mark a test that doesn't always pass"
]
