## pyqoolloop
cryptography
funcsigs
msgpack
msgpack-types

# test
black
pytest
pytest-black
pytest-cov
pytest-mypy
pytest-pydocstyle
pytest-pylint
pytest-xdist

# documentation
sphinx
sphinx_rtd_theme
