## pyqoolloop
cryptography
funcsigs
msgpack
msgpack-types

# test
black
flake8
pep8-naming
pytest
pytest-black
pytest-cov
pytest-flake8
pytest-mypy
pytest-pydocstyle
pytest-pylint
pytest-xdist

# documentation
sphinx
sphinx_rtd_theme
