## pyqoolloop
cryptography
funcsigs
msgpack
msgpack-types

# dev
black==23.11.0
mypy==1.0.1
pytest
pytest-black
pytest-cov
pytest-mypy
pytest-ruff
pytest-xdist
ruff==0.1.5

# documentation
sphinx
sphinx_rtd_theme
